.box {
  width: 12em;
  height: 4em;
  margin: 1em;
  padding: 0.5em;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: white;
  box-shadow: 2px 5px 16px 0px #000000, 5px 5px 15px 5px rgba(197, 197, 197, 0);
}

.boxImage {
  width: 3em;
  height: 3em;
}

.boxText {
  height: 3em;
  margin-left: 1em;
  align-content: center;
  font-size: large;
  /* background-color: blueviolet; */
}
