.educationTemplate {
  padding: 1.5em 1.5em 1.5em 0em;
  display: flex;
  align-items: center;
  width: inherit;

  animation: textAnimation 0.5s ease;
  animation-timeline: view(block 80% 0%);
}

@keyframes textAnimation {
  from {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}

.detailsSection {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    color: var(--color-2-backup);
  }
}

@keyframes popAnimation {
  from {
    transform: scale(0%);
    opacity: 0%;
  }
  to {
    transform: scale(100%);
  }
}

.icon {
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: white;

  animation: popAnimation 0.5s ease;
  animation-timeline: view(block 80% 0%);

  img {
    width: 2em;
  }
}

.locationSession {
  display: flex;
  p {
    margin-right: 0.5em;
  }
}

.session {
  color: gray;
}
