.skills {
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
  /* background-color: var(--color-2-backup); */
  /* background-color: white; */
}

.description {
  width: 80vw;
  padding: 0em 0em 4em 0em;
  padding-top: 10vh;
  color: white;
  * {
    margin-bottom: 10px;
  }
}

.skillsGrid {
  width: 80vw;
  display: grid;
  justify-items: center;
  justify-content: space-between;
  row-gap: 2em;
  column-gap: 1em;
  grid-template-columns: repeat(auto-fill, 12em);
}
