@import url("https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap");

a {
  text-decoration: none;
  color: var(--main);
  font-weight: 500;
}

.nav {
  height: 5.5rem;
  width: 100vw;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  /* animation: navbarAnimation linear forwards;
  animation-timeline: scroll();
  animation-range: 3.5em 10em; */
}

/* @keyframes navbarAnimation {
  to {
    transform: translateY(-100%);
  }
} */

.navBar {
  height: 3.5em;
  width: 96vw;
  position: fixed;
  border-radius: 1em;

  background-color: rgba(231, 231, 231, 0.5);

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLogo {
  margin: 1em;
  color: var(--main);
  font-family: "Playwrite DK Loopet", cursive;
  font-size: 2em;
  font-weight: 600;
}

.navItems {
  display: flex;
  margin: 0;
  padding: 0.5em;
  list-style: none;
  li {
    margin: 1em;
    padding: 0.5em;

    border-bottom: 0.2em solid var(--main);
  }
}

@keyframes borderAnimation {
  to {
    border-bottom: 0.2em solid var(--color-2-backup);
  }
}
