:root {
  --color-1: #61892f;
  --color-2: #86c232;
  --color-1-backup: #b23c23;
  --color-2-backup: #ff5733;
  --accent-1: #fe5b29;
  --main: #222629;
  --color-4: #474b4f;
  --color-5: #6b6e70;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

button {
  background-color: var(--color-2-backup);
  font-size: large;
  color: white;
}

button:active {
  scale: 96%;
  opacity: 96%;
}
